src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e265ebd5-7a68-429f-9808-567c1b9db76f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="23c9ff56-fb2b-42c4-a654-e1c075353ae7" >
		<http:listener doc:name="Listener" doc:id="dc5fd92b-b6d1-4d88-9f16-6f14e947a466" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["yeaahh"]' doc:name="Set Payload" doc:id="4cb08760-639c-455e-962c-f01fe53de3ae" />
	</flow>
</mule>
